@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-style: normal;    
    line-height: 1.15;
    letter-spacing: -.02em;
    color: rgba(0, 0, 0, 0.8);
    -webkit-font-smoothing: antialiased;      
}

body, h1, h2, p, hr, footer {
    margin: 0;
    top: 0;
    left: 0;    
}

.description{
    padding: 10px 28px;
    margin: 2px 0;  
} 

.intro {
    width: 100%;
    font-size: 28px;  
    text-align: center;
    line-height: 40px;
    color: white;
    background-color: slategray;
    position: absolute;
    padding: 12px 28px;
    margin: 2px 0;  
    border: 3px black solid;    
}
